<!-- Deelnemer Tekening -->
<div ng-controller="LeerlingDrawingController">
    
   
   <div>
            <select class="form-control" style="width:30%" ng-model="size" ng-options="size for size in sizes" ng-click="resize()">
                Selecteer Penseeldikte
            </select>
    </div>
   

    <div >
        <a href='#colors_sketch' type="button" class="btn btn-default" data-tool="marker" data-color="#2E2E2E">Zwart</a>
        <a href='#colors_sketch' type="button" class="btn btn-primary" data-tool="marker" data-color="#003366">Blauw</a>
        <a href='#colors_sketch' type="button" class="btn btn-success" data-tool="marker" data-color="#00CC66">Groen</a>
        <a href='#colors_sketch' type="button" class="btn btn-info" data-tool="marker" data-color="#2ECCFA">Blauw</a>
        <a href='#colors_sketch' type="button" class="btn btn-warning" data-tool="marker" data-color="#FF9933">Geel</a>
        <a href='#colors_sketch' type="button" class="btn btn-danger" data-tool="marker" data-color="#FF0000">Rood</a>
        <a href='#colors_sketch' type="button" class="btn btn-danger" data-tool="eraser"><i class="fa fa-eraser"></i>Wissen</a>
        <div>
            
            
              <canvas id="colors_sketch" style="width:100%;height:400px;border:1px solid black;z-index:10"></canvas>
          

            <!--Save Pictures & Clear canvas-->
<button ng-click="SavePicture()" ng-confirm-click="Wil je de tekening verzenden?" type="button" class="btn btn-primary">Tekening versturen</button>
<button ng-click="ClearCanvas()" ng-confirm-click="Tekening verwijderen?" type="button" class="btn btn-danger">Wissen</button>
        </div>

        
        
  <!--      <div>
            <select class="form-control" ng-model="size" ng-options="size for size in sizes" ng-click="resize()">
                Selecteer Penseeldikte
            </select>
        </div>
    </div>
    
    <div class="btn-group" role="group" aria-label="..." style="position:absolute; bottom: 5%;">
       </div>-->
</div>