<section  ng-controller="LeerkrachtPresentatieOpenController">
    
    <button ng-click="getAnswers()" class="btn btn-default btn-sm">Toon antwoorden</button>
    <button  class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#myModal">Verwijder antwoorden Anwsers</button>

    
     <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 login-form-bg">
         <h1 class="hoofdingh1">{{vraag.vraag}}</h1>
         <div ng-show="video" >
          <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="{{trustSrc(vraag.video)}}"></iframe>
          </div>
       </div>
 
         
            
       <div ng-show="afbeelding" >
      <img ng-src="{{vraag.afbeelding}}" class="img-responsive">
     </div>

          <div class="form-group">
              <div ng-repeat="antwoord in antwoorden">
                {{antwoord.antwoord}}
                {{antwoord.voornaam}}
                {{antwoord.achternaam}}
              </div>
             
        </div>
</div>


  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Verwijder antwoorden</h4>
      </div>
      <div class="modal-body">
        Ben je zeker dat je de antwoorden wil verwijderen?
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="remove()" class="btn btn-default" data-dismiss="modal">Nee</button>
        <button type="button" ng-click="remove()" class="btn btn-danger" data-dismiss="modal">Ja</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL-->
</section>
